#margin{
    background-color:antiquewhite;
    height: 40vh;
    width: 80vh;
    /* border:1px solid black; */
    margin: auto;
    border: dashed 2px;
    /* text-align: center; */
    /* display: flex;  */
}
#border{
    background-color: burlywood;
    height: 30vh;
    width: 90%;
    border: 1px solid black;
    margin:auto; 
    padding-top: 5%;
    /* display: flex;  */
}
#padding{
    background-color: lightgreen;
    height: 20vh;
    width: 80%;
    border:2px solid black;
    margin: auto;
    border: dashed gray;
    /* display: flex;  */
}
#content{
    background-color:lightskyblue;
    height: 10vh;
    width: 70%;
    border:1px solid black;
    margin: auto;
    padding-top: 5%; 
}

.text{
    margin:0;
    padding-left: 5%;
    /* text-align: right; */
}
.text1{
    margin:0;
    padding-top: 5%;
    text-align: center;
}


