
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;

}

#top > h1{
    margin-top: 200px;
    margin-left: 100px;
    
}
#top > p{
    margin-left: 100px;
    
}

img{
    width: 200px;
    
}
