/* *{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
} */

#box{
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
    /* border:2px solid; */
    transition: background-color 2s, border-radius 2s, border 2s;
    /* background: url(./smiling-naruto.jpg) no-repeat center; */
    background-size: 100% 100%;
    transition: all 2s;
    transition-delay: 1s;
}

#box:hover {
    /* background-color: greenyellow; */
    border: 3px double gold;
    border-radius: 90%;
    transition-delay: 3s;
    /* background: url(./itachi.webp) no-repeat center; */
    background-size: 100% 100%;
   
}

/* ======================================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;
}


body{background-color: hsl(51, 98%, 81%)}

div {
    height: 150px;
    /* background-color:yellow ; */

}
div>img {
    transition: margin-left 2s;
}

div:hover>#im1{
    transition-timing-function: ease;
    margin-left: 90%;
}

div:hover>#im2{
    transition-timing-function: ease-in;
    margin-left: 90%;
}

div:hover>#im3{
    transition-timing-function: ease-out;
    margin-left: 90%;
}

div:hover>#im4{
    transition-timing-function: ease-in-out;
    margin-left: 90%;
}

h1{
    text-align: center;
}



/* ======================================================================== */

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#box1{
    width: 600px;
    height: 300px;
    margin: 50px;
    background-color: brown;
    border: 5px soli lime;
    transition: transform 2s;
    font-size: 30px;
    color: white;
    text-align:center;
}

#box:hover{
    transform: translateX(200px);
    transform: translateY(300px);
    transform: translate(100px, 200px);

    /* transform  rotation properties */
}