body{
    border: 2px solid;
    display: flow-root;
}

.img{
    width: 100px;
}

#img1{
    float: right;
}
#img2{
    float: left;
}
/* here we can see that the image is coming out of the body border to solve this we use display: flow-root in body tag*/
