
/* Universal the style effects is applied to all the elements (entire page) */
*{
    color: goldenrod;
    font-size: medium;
    background-color: antiquewhite;
}

/* id only target a single element id="unique value" */
#head{
    color: black;
} 

/* class is used to target more then one element at a time 
class="we can use same name"    we use .name */
.c2{
    color: blue;
}

/* if we target a element wwith both Id and class at a time
    then first priority will go to Id this means Id properties will apply first  */


/*   tagname is use to target all the same tags 
if in our html page there is a 5 paragraph( <P> ) then it is applied to all 5 paragraph
it is tag level target 
but if the paragraph has Id then the priority goes to Id selector*/
p{ 
    
    color: rgb(248, 116, 2);

}

/* GROUP selector makes the all elements with the tagname
,id="idvalue and class="class name*/

p,h1{
    color: darkslategray;
}

/* NOTE: priority  id>  class>    tagname>    group>  universal */