
/* Universal the style effects is applied to all the elements (entire page) */
*{
    color: goldenrod;
    font-size: medium;
    background-color: antiquewhite;
}

/* id only target a single element id="unique value" */
#head{
    color: black;
} 

/* class is used to target more then one element at a time 
class="we can use same name"    we use .name */
.c2{
    color: blue;
}

/* if we target a element wwith both Id and class at a time
    then first priority will go to Id this means Id properties will apply first  */

